<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刺啦刺啦</title>
	<link rel="stylesheet" href="DPlayer.min.css" />
	<div id="dplayer"></div>
	<script src="DPlayer.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}">
</head>
<body>
    <header class="yh_header">

		<div><img src="{{url_for('static',filename='image/tubiao.jfif')}}" class="tubiao" ></div>
		<ul class="tab">
			<li><a href="{{url_for('index')}}">首页</a></li>
			<li><a href="">游戏中心</a></li>
			<li><a href="">直播</a></li>
		</ul>
		<div class="sousuokuang">
		<input type="" name="" id="" value=""placeholder="  今天小球认真学习了吗！"/><button><div><a href="">搜索</a>
		</div></button></div>
		<div class="yonghu">
			<img src="{{url_for('static',filename='image/morentouxiang.jpg')}}">
			<div>
				<ul>
					{% if user %}
					<li><a href="#">{{user.username}}</a></li>
					<li><a href="{{url_for('logout')}}">注销</a></li>
					{% else %}
					<li><a href="{{url_for('ashore')}}">登录</a></li>
					<li><a href="{{url_for('install')}}">注册</a></li>

					{% endif %}

					<li><a href="{{url_for('release')}}">发布视频</a></li>
				</ul>
			</div>
		</div>
	</header>
    <div class="inner">
		<div class="list_new">
			<p class="title">{{video.title}}</p>
			<p>视频简介：{{video.content}}</p>
			<div class="user_inner">
				<span>作者:{{video.author.username}}</span>
				<span>时间:{{video.create_time}}</span>
			</div>
			<video src="{{url_for('static',filename='vedio/firework.mp4')}}" width="650px" height="340px" controls="controls">
			Your browser does not support the video tag.
			</video>
		</div>

		<div class="comment">
			<p class="title" style="font-size: 15px;margin-right:  30%;">评论(0):</p>
			<form action="{{url_for('add_answer')}}" method="POST">
			<div class="rr" class="rr1">
				<textarea name="answer_content" id="" cols="40" rows="5" style="" placeholder="请填写评论"></textarea>
			</div>
			<div class="rr" >
				<button style="margin-left: 20px;">评论</button>
			</div></form>
		</div>
	</div>
</body>
</html>